.main{
    margin-left: 10%;
    margin-right: 30%;
    margin-top: 5%;
    border: 5px solid black;
}
.container{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5%;
    /* border: 5px solid red; */
}

.input{
    height: 6vh;
    /* border: 5px solid blue; */
}

.btn btn-dark{
    border-radius: 8px;

    /* border: 5px solid green; */
}

.main-area{
    margin-left: 6%;
    /* border: 5px solid green;  */
}